.input {
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 0.5px rgba(151, 151, 151, 0.3);
    border-radius: 8px;
    max-height: 40px !important;
}

.inputBlock {
    width: auto;
    display: flex;
    align-items: center;
}



