.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2px 0;
}

.title {
    font-weight: 600;
    font-size: 20px;
}

.description {
    display: flex;
    gap: 20px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(60, 60, 67, 0.5);
}

.text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: rgba(60, 60, 67, 0.8);
}