.container {
    display: flex;
    position: relative;
    padding-bottom: 20px;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
}

.headerInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 13px;
    color: rgba(60, 60, 67, 0.8);
}

.img_32 {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.img_24 {
    height: 24px;
    width: 24px;
    cursor: pointer;
}


.infoBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.infoWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.pointOnLine {
    position: absolute;
    width: 12px;
    height: 12px;
    left: -38px;
    top: calc(50% - 12px/2);
    background: #9D9DA1;
    border: 3.5px solid #FFFFFF;
    border-radius: 20px;
    z-index: 100;
}

.mainInfo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.img {
    width: 96px;
    height: 132px;
    border-radius: 12px;
}

.listOfInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}

.dopTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -0.078px;
    color: rgba(60, 60, 67, 0.8);
    mix-blend-mode: multiply;
}

.text {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.2px;
    color: rgba(60, 60, 67, 0.8);
}

.icons {
    text-align: end;
}

.line {
    position: absolute;
    height: 100%;
    top: 25px;
    left: 10px;
    border: 2px solid rgba(60, 60, 67, 0.18);
}


@media screen and (max-width: 508px) {
    .container {
        gap: 30px;
    }
    .wrapper {
        gap: 10px;
    }
    .infoBlock {
        gap: 30px;
    }
    .infoWrapper {
        align-items: flex-start;
    }
    .mainInfo {
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .listOfInfo {
        gap: 5px;

    }
}